.left {
    left: 0;
    transform: translateX(0px);
    
}

.left-hidden {
    transform: translateX(-150px);
    left: -150px;
}

.right {
    right: 0px;
    /* transform: translateX(0px); */
}

.right-hidden {
    right: 0px; 
    transform: translateX(150px);
}

.categories {
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: white;
    transition: all 0.5s ease-out;
}

.categories th {
    padding-bottom: 20px;
}

.categories td {
    border: 1px solid black;
    display: block;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 150px;
}

.categories td:hover {
    background: #999696;
}

.categories tr:last-child>td {
    border: 1px dashed black;
    opacity: 0.5;
}

.categories tr:last-child>td:hover {
    opacity: 1;
    cursor: pointer;
    background: lightblue;    
}