.date {
	padding: 15px 30px;
	background: lightblue;

}

.spents {
	width: 100%;
	border-collapse: collapse;
}

.spents td:nth-child(2) {
	text-align: right;
}

.spents td{
    /* margin: 10px; */
    /* margin-top: 0; */
	width: 45%;
    padding: 10px;
    border-bottom: 1px  dashed black;
    cursor: pointer;
}

.spents tr:nth-child(2n) {
	background-color: white;
}

.spents tr:hover {
    background-color: rgba(111, 111, 233, 0.33);
}

.spents tr:first-child:hover {
	background: 0;
}

.comment {
	display: none;
	margin: 10px 0px 0px 0px;
	font-size: 0.8em;
}

.display-comment>div {
	display: block;

}

.delete {
	width: 7%;
    position: relative;
    /* float: right; */
    /* right: 30px;
    height: 30px; */
    /* border: 1px solid  red; */
    visibility: hidden;
    opacity:  0.3;
    background-color: #424242;      
}

.delete:hover {
    opacity: 1;
}

tr:hover .delete {
    visibility: visible;
}

.delete::before, .delete::after {
    position: absolute;
    right: -20px;
    top: -14px; 
    width: 7px;
    height: 28px;
    content: ' ';
    background-color: red;
    /* border-left: 2px solid black; */
}

.delete::before {
    transform: rotate(45deg);
}

.delete::after {
    transform: rotate(-45deg);
}